{% extends 'salte/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'salte/css/webcam.css' %}">
{% endblock css %}


{% block content %}


<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <!-- {{form}} -->
    <div id="id" class="camera">
        <video id="video">
            </video>
        <input type="button" id="buttonSnap" value="Take screenshot" disabled="disabled" onclick="snapshot()" />
        
        <input type="text" name="photo" id="id_photo"/>
        <input type="button" id="buttonStart" value="Start" onclick="start()" />
        <input type="button" id="buttonStop" value="Stop" disabled="disabled" onclick="stop()" />
        
        <canvas id="canvas"></canvas>
    
        <br>
        <div class="output">
            <img id="photo" name="photo" alt="The screen capture will appear in this box." />
        </div>
    </div> 
    <button type="submit">Submit</button>

</form>
{% endblock content %}


{% block scripts %}
<script defer src="{% static "salte/js/webcam.js" %}"></script>
{% endblock scripts %}