<!DOCTYPE html>
{% extends 'salte/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% endblock scripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Salte</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'salte/css/index.css' %}">

    {% endblock css%}
</head>
<body>
    {% block content %}
    <div class="con">
        <h1 class="name">Salte</h1>
    </div>

    {% endblock content%}
</body>
</html>