<!DOCTYPE html>
{% extends 'salte/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block scripts %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="{% static "salte/js/gs.js" %}?v=2"></script>

    {% endblock scripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock title %} </title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">

    {% endblock css %}
</head>
<body>
    {% block content %}
    <div id="loader">
        <div class="loader-content">
          <h1>salte</h1>
        </div>
        <div class="blinder blinder-1"></div>
        <div class="blinder blinder-2"></div>
        <div class="blinder blinder-3"></div>
        <div class="blinder blinder-4"></div>
        <div class="blinder blinder-5"></div>
    </div>
    
    <div id="landing-page">
        <header>
          <div class="logo">Salte</div>
          <nav>
            <ul>
              <li><a href="#faqs">FAQs</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </header>
        
    </div>
    
    {% endblock content %}  
    
    

</body>
</html>